@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #000; */
}

body {
    font-family: "Open Sans";
}

.nav-container {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #494948;
}

nav {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
}

.menu li {
    position: relative;
    /* border: 1px solid #000; */
    padding: 8px;
}

.menu li a {
    height: 100%;
    width: 100%;
    font-size: 12px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.underline {
    /* display: none; */
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #8e4237;
    bottom: 50%;
    left: 0;
    opacity: 0;
}

.button {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 25px;
    padding: 4px 12px;
}

.brown {
    color: #fff;
    background-color: #8e4237;
}

.menu li:hover .underline {
    bottom: 0px;
    opacity: 1;
    transition: 0.3s, opacity .5s ease-out;
}

.menu li:hover a {
    color: #888;
}

.menu li:hover .button.brown {
    color: #fff;
}

.button.brown:hover,
.button-two.brown:hover {
    background-color: #494948;
    transition: .6s;
}

.box-lang {
    display: flex;
    gap: 16px;
    margin-left: 40px;
}

.dropdown-content-one div {
    display: flex;
    flex-direction: column;
}

.dropdown-content-one,
.dropdown-content-two {
    /* display: none; */
    position: absolute;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.4s linear;
}

.dropdown-content-three {
    display: none;
    position: absolute;
    width: max-content;
}

.dropdown-menu-1:hover .dropdown-content-one {
    opacity: 1;
    visibility: visible;
    /* display: block; */
}

.dropdown-menu-2:hover .dropdown-content-two {
    display: block;
    opacity: 1;
    visibility: visible;
}

.dropdown-content-one,
.dropdown-content-two {
    top: 95%;
    left: 10%;
    /* border: 1px solid #000; */
    padding: 6px;
}

.dropdown-content-one a:hover strong,
.dropdown-content-two a:hover strong {
    color: #8e4237;
}

.dropdown-content-three {
    right: 0;
    /* border: 1px solid #000; */
    /* background-color: #fff; */
}

form {
    margin-top: 12px;
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
    background-color: #fff;
    box-shadow: 0px 0px 10px -10px black;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .2));

}

input {
    width: 160px;
}

input,
form button {
    display: block;
    background-color: #eee;
    border: none;
    padding: 6px 10px;
}

input:focus {
    outline: none;
}

/* Section ONE */

.section-one-container {
    width: 100%;
    height: 100%;
    margin: auto;
}

video {
    /* border: 1px solid #000; */
    max-width: 100%;
}

.section-one-a {
    width: 1100px;
    margin: auto;
}

h2 {
    margin: 25px 0 50px;
    color: #72635b;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.section-one-a p {
    margin-top: 12px;
    color: #7f7e7c;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.button-two {
    display: block;
    width: max-content;
    padding: 10px 20px;
    text-decoration: none;
    margin: 42px auto;
}

/* Section TWO */

.section-two-container {
    position: relative;
    width: 100%;
    height: 1020px;
    background-color: #bcb5ab;
}

.svg-triangle {
    /* border: 1px solid #000; */
    width: 50px;
    margin: auto;
    position: absolute;
    transform: translateX(-50%); 
    left: 50%;
}

polygon {
    width: 100%;
    height: 100%;
}

.section-two {
    width: 1200px;
    margin: auto;
    color: #fff;
}

.section-two * {
    /* border: 1px solid #000; */
}

.white {
    color: #fff;
}

h4 {
    font-size: 18px;
    text-align: center;
}

.section-two h2 {
    padding-top: 120px;
}

.section-two h4 {
    margin-top: -32px;
}

.carousel {
    margin: 60px auto;
    position: relative;
    width: 1200px;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: visible;
}

.carousel-button {
    position: absolute;
    top: 50%;
}

.carousel-button i {
    font-size: 24px;
    padding: 4px 8px;
    opacity: .3;
    background-color: #fff;
    border-radius: 25px;
}

.button-left {
    left: -5%;
}

.button-right {
    right: -5%;
}

.slides-container {
    /* position: absolute; */
    display: flex;
    /* gap: 50px; */
}

.carousel-box {
    margin: 0 50px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.carousel-box figcaption {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin: 36px 0;
}

.carousel-box img {
    border-radius: 200px;
}

.carousel-box p {
    text-align: justify;
}

.carousel-button:hover i {
    opacity: 0.6;
    background-color: #fff;
    transition: .4s;
}

/* Section THREE A */

.section-three-container {
    width: 100%;
}

.section-three-a {
    width: 1200px;
    margin: auto;
    padding-bottom: 80px;
    border-bottom: 1px solid #888
}

.section-three-a h2 {
    margin-top: 56px;
}

.section-three-a p {
    font-size: 17px;
    margin: -20px 0 12px 0;
    color: #7f7e7c;
    text-align: center;
}

.products-container {
    width: 1200px;
    /* border: 1px solid #494948; */
    display: flex;
    align-items: flex-end;
    gap: 12px;
    padding: 12px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 120px;
    /* border: 1px solid #494948; */

}

.product span {
    color: #72635b;
}

/* Section THREE B */
